# Read about configuration, here:
# https://craftcms.com/docs/4.x/config/

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--28e43736-2144-4c60-9b2f-b4d3cd386a9e

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=3E2AVBIWsZXCwfD5yZqyjl1Sd_TZ5RLa

# Database connection settings
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# General settings (see config/general.php)
DEV_MODE=true
ALLOW_ADMIN_CHANGES=true
DISALLOW_ROBOTS=true
MAILPIT_SMTP_PORT="1025"
CRAFT_WEB_URL="https://blitz-bug-eager-loading.ddev.site:8443"
CRAFT_WEB_ROOT="/var/www/html/web"
PRIMARY_SITE_URL="https://blitz-bug-eager-loading.ddev.site:8443"
MAILPIT_SMTP_HOSTNAME="127.0.0.1"
